body {
    background-color: #f0f2f5;
}

.r-ninet-nav-bar {
    margin: -7px;
    width: auto;
}

.r-ninet-drives {
    display: flex;
    margin-top: 2%;

    .r-ninet-drive-button-logout {
        float: right;
    }

    .r-ninet-drives-dropdown-list{
        float: left;
    }

    .r-ninet-left-drive {
        width: 45%;
        margin-left: 3%;

        .r-ninet-left-drive-transfer-button{
            float: right;
            margin-top: 43%;
        }
    }

    .r-ninet-right-drive {
        width: 45%;
        float: right;
        margin-left: 4%;

        .r-ninet-right-drive-transfer-button{
            float: left;
            margin-top: 43%;
        }
    }
}
