body {
    background-color: #f0f2f5;
}

.r-ninet-drives {
    display: flex;
    padding-left: 5%;

    .r-ninet-drive-button-logout {
        float: left;
    }

    .r-ninet-left-drive {
        width: 43%;

        .r-ninet-left-drive-transfer-button{
            float: right;
            margin-top: 45%;
        }
    }

    .r-ninet-right-drive {
        width: 48%;
        float: right;
        padding-left: 3%;

        .r-ninet-right-drive-transfer-button{
            float: left;
            margin-top: 43%;
        }
    }
}
