body {
    background-color: #f0f2f5;
}

.r-ninet-nav-bar {
    margin: -7px;
    width: auto;
}

.r-ninet-drives {
    display: flex;
    margin-top: 2%;

    .r-ninet-drive-button-logout {
        float: right;
    }

    .r-ninet-drives-dropdown-list{
        float: left;
    }

    .r-ninet-drives-transfer-buttons{
        margin: 1%;
        display: grid;
        height: fit-content;

        .r-ninet-right-drive-transfer-button{
            margin-top: 35%;
        }
    }

    .r-ninet-left-drive {
        width: 45%;
        margin-left: 1%;
    }

    .r-ninet-right-drive {
        width: 45%;
        float: right;
    }
}
